# -----------------------------------------------------------------------------
# Site settings
# -----------------------------------------------------------------------------
name: Austen Lamacraft
email: austen@lamacraft.io
description: > # this means to ignore newlines until "url:"
  Not another Austen Lamacraft site. Based on [al-folio](https://github.com/alshedivat/al-folio).
footer_text: >
  Powered by <a href="http://jekyllrb.com/" target="_blank">Jekyll</a> with <a href="https://github.com/alshedivat/al-folio">al-folio</a> theme.
  Hosted by <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>.
  Photos from <a href="https://unsplash.com" target="_blank">Unsplash</a>.

url:  https://austenlamacraft.github.io
baseurl: /mwe
last_updated: # leave blank if you don't want to display last updated

# -----------------------------------------------------------------------------
# Social integration
# -----------------------------------------------------------------------------
github_username: AustenLamacraft
twitter_username: AustenLamacraft
scholar_authorid: ERR4TF0AAAAJ
contact_note: >
  Twitter may be best.
google_analytics: UA-XXXXXXXXX # out your google-analytics code

# -----------------------------------------------------------------------------
# Blog
# -----------------------------------------------------------------------------
blog_name: minimal working example
blog_description: statistical physics and machine learning

# Pagination
paginate: 4
permalink: /blog/:year/:title/
paginate_path: /blog/page:num/

text:
  pagination:
    newer: 'Newer'
    older: 'Older'

# Comments
disqus_shortname: al-folio # put your disqus shortname

# Optional features
show_social_icons:  false
enable_anchorjs:    false
enable_katex:       true

# -----------------------------------------------------------------------------
# Collections
# -----------------------------------------------------------------------------
collections:
  news:
    defaults:
      layout: post
    output: true
    permalink: /news/:path/
  # projects:
  #   output: true
  #   permalink: /projects/:path/
  publications:
    output: true
    permalink: /publications/:path/
  demos:
    output: true
    permalink: /demos/:path/

news_limit: 5

# -----------------------------------------------------------------------------
# Jekyll settings
# -----------------------------------------------------------------------------

# Build settings
markdown: kramdown
kramdown:
  math_engine: nil  # for katex (because kramdown defaults to mathjax)
highlighter: rouge

# Includes
include: ['_pages']

# Gems
gems:
    - jekyll-paginate
    - jekyll/scholar
    - jemoji

# Jekyll-Scholar
scholar:

  last_name: Lamacraft

  style: apa
  locale: en

  sort_by: year
  order: descending

  source: /_bibliography/
  bibliography: blog.bib
  bibliography_template: bib

  replace_strings: true
  join_strings: true

  details_dir: bibliography
  details_layout: bibtex.html
  details_link: Details

  query: "@*"

# -----------------------------------------------------------------------------
# Other settings
# -----------------------------------------------------------------------------
jquery_version: "3.3.1" #"1.12.4"
katex_version: "0.9.0"
anchorjs_version: 4.1.0 #"3.2.2"
