<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title> Austen Lamacraft's CV</title>
  <link href="{{ site.baseurl }}/assets/css/cv-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="{{ site.baseurl }}/assets/css/cv-print.css" type="text/css" rel="stylesheet" media="print">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/academicons.min.css"/>


</head>
<body>
  <div id="main">
    <div id="content">
    {{ content }}
    </div>
  </div>

  <div class="footer"></div>

  {% include hemline.html %}
</body>
</html>
